DISABLE_PRE_COMMIT_FORMAT=false
DISABLE_PRE_COMMIT_LINT=false
DISABLE_PRE_PUSH_TYPECHECK=false
DISABLE_PRE_PUSH_FORMAT=true

# Enable debug features (true | false)
DEBUG=false

# Mode: dev | next | prod
MODE="dev"

# Public base URL (required)
APP_URL=http://localhost:3000


## Server routes auth
API_TOKEN="<SEE_PROTON_VAULT>"


# Cloudflare config
CLOUDFLARE_ACCOUNT_ID="<SEE_PROTON_VAULT>"
CLOUDFLARE_API_TOKEN="<SEE_PROTON_VAULT>"
CLOUDFLARE_CACHE_NAMESPACE_ID="<SEE_PROTON_VAULT>"
CLOUDFLARE_D1_DATABASE_ID="<SEE_PROTON_VAULT>"
CLOUDFLARE_R2_BUCKET="<SEE_PROTON_VAULT>"
WORKER_NAME=local

# Storage Credentials
S3_ACCESS_KEY_ID=<r2_access_key_id>
S3_SECRET_ACCESS_KEY=<r2_secret_access_key>
S3_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
S3_BUCKET=<r2_bucket_name>   # should be the same as CLOUDFLARE_R2_BUCKET
S3_PUBLIC_URL=https://pub-<hash>.r2.dev

# Optional override (defaults to APP_URL host)
PLAUSIBLE_DOMAIN=

# Disable tracking (true | false)
DISABLE_TRACKING=false

# Public token that can create form submissions in Datahub
DATAHUB_URL="<HOST_URL>"
DATAHUB_TOKEN="<SEE_PROTON_VAULT>"


# API key for open AI to use AI insights features
OPENAI_API_KEY="<SEE_PROTON_VAULT>"

# Optional model override
OPENAI_MODEL="gpt-4.1-mini"


# Studio Github Auth App Credentials
STUDIO_GITHUB_CLIENT_ID=<your_github_client_id>
STUDIO_GITHUB_CLIENT_SECRET=<your_github_client_secret>