DISABLE_PRE_COMMIT_FORMAT=false
DISABLE_PRE_COMMIT_LINT=false
DISABLE_PRE_PUSH_TYPECHECK=false
DISABLE_PRE_PUSH_FORMAT=true

# Enable debug features (true | false)
DEBUG=false

# Mode: dev | next | prod
MODE="dev"

# Public base URL (required)
APP_URL=http://localhost:3000


## Server routes auth
API_TOKEN="<SEE_PROTON_VAULT>"

# Github meta data
GH_ORG=onderwijsin
GH_REPO=regional-site-menu

#Cloudflare config
CLOUDFLARE_ACCOUNT_ID="<SEE_PROTON_VAULT>"
CLOUDFLARE_API_TOKEN="<SEE_PROTON_VAULT>"
CLOUDFLARE_CACHE_NAMESPACE_ID="<SEE_PROTON_VAULT>"

# Optional override (defaults to APP_URL host)
PLAUSIBLE_DOMAIN=

# Disable tracking (true | false)
DISABLE_TRACKING=false